<div style="padding:10px">
    <div>
        <h3>
            {{title}} - {{envName}}
        </h3>
    </div>
    <div class="card" style="font-size:small">
        <div class="card-block">
            <p>This Angular2 component injects a service (pouchdb.service) which creates a new in-browser PouchDB to synchronise with the CouchDB Database. The URL is set as a const in pouchdb.service.ts (change it to suit your CouchDB databse).</p>
            <p style="font-family: Courier New">{{ remoteCouchDBAddress }}</p>
        </div>
    </div>
    <div class="card" style="font-size:small">
        <div class="card-block">
            <p>This Angular2 component changes color and text depending on the online/offline/sync status of the PouchDB / CouchDB set up. Stop the CouchDB service and it should change</p>
            <db-sync-indicator [syncStatus]="syncStatus" [serverUp]="couchDbUp"></db-sync-indicator>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <div class="form-group">
                <p>This button fires a method in this component which wraps a method in the pouchdb.service to retrieve 20 documents from the PouchDB/CouchDB
                </p>
                <button (click)="get20Docs()" type="button" class="btn btn-primary">
    		Fetch 20 documents as JSON
  		</button>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="8" style="font-family: Courier New; font-size: 10px; min-width: 100%">{{ dataString }}</textarea>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <p>This button fires a method in this component which sends a JSON doc to the database</p>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input #username class="form-control">
                </div>
                <div class="form-group">
                    <label for="player">player</label>
                    <input #player class="form-control">
                </div>
                <div class="form-group">
                    <label for="position">positon</label>
                    <input #position class="form-control">
                </div>
                <button (click)="post({username:username.value})" type="button" class="btn btn-primary">post this as new document</button>
            </form>
        </div>
    </div>

</div>